*{
    margin: 0px;
    padding: 0px;
}
/* code for header */
.header{
    height: 60px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
}
.container{
    /* background-color: green; */
    width: 90%;
    display: flex;
}
.logo{
    width: 20%;
    color: white;
    /* background-color: yellow; */
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Segoe UI';
    text-align: center;
    font-style:normal;
    font-weight: bold;
    cursor: pointer;
}
.logo:hover{
    background-color: white;
    color: blue;
}
.nav{
    width: 30%;
    /* background-color:lightblue; */
    display: flex;
}
.header_container{
    justify-content: space-between;
}
.nav_item{
    width: 20%;
    text-align: center;    
    font-family: 'Segoe UI';
    margin-left: 15px;
    line-height: 55px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.nav_item:hover{
    background-color: white;
    color: blue;
}
.banner{
    height: 600px;
    width: 100%;
    background-color: grey;
    background-image: url("https://images.pexels.com/photos/1165869/pexels-photo-1165869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
}
.layout{
    height: 600px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
}
.para{
    font-size: large;
    margin-top: 10px;
}

.inside_layout{
    width: 35%;
    height: 250px;
    background-color: rgb(159,73,1660.76,0.5);
    display: flex;
    }
.aboutpro{
    width: 100%;
    font-size: 20px;
    font-family: 'Segoe UI';
    color: antiquewhite; 
}
.banner_btn{
    width: 40%;
    height: 15%;
    font-size: 15px;
    background-color:transparent;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    margin-left: 150px;
    border:3px solid floralwhite;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI';
    font-weight: bold;
    transition: .3s ;
}
.banner_btn:hover{
    background-color: white;
    color: darkviolet;
}
.services{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI';
    font-weight: bold;
}
.services_container{
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service{
    width: 40%;
    height: 300px;
    background-color: white;
    display: flex;
    margin-top: 20px;
}
.service_img{
    height: 300px;  
    width: 40%;
    background-color: tomato;
    display: flex;
}
.service_details{
    height: 300px;
    width: 60%;
    background-color: turquoise;
}
.img_btn{
    width: 40%;
    height: 10%;
    font-size: 15px;
    background-color:grey;
    margin-top: 40px;
    text-align: center;
    padding-top: 10px;
    margin-left: 100px;
    border:3px solid floralwhite;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI';
    font-weight: bold;
    transition: .3s ;

}
.img_btn:hover{
    background-color: black;
    color: white;
}

